<div class="landing-container">
  <div class="landing-content text-center">
    <h1 class="display-3 fw-bold mb-4">Apollo Safe</h1>
    <p class="lead mb-5">
      ¡Bienvenido/a a Apollo Safe! Tu espacio para construir un campus
      más seguro. Reporta incidentes fácilmente, recibe alertas
      importantes y únete a la comunidad para cuidarnos entre todos.
      <br>
      ¡Empieza ahora!
    </p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-primary btn-lg px-4 gap-3" routerLink="/login">
        <i class="fas fa-sign-in-alt me-2"></i>Iniciar sesión
      </button>
      <button type="button" class="btn btn-dark btn-lg px-4" routerLink="/registro">
        <i class="fas fa-user-plus me-2"></i>Registrarse
      </button>
    </div>
  </div>
</div>